// === ArcticAdmin Fallback Mixins (Rails 8 Compatible) ===

@mixin appearance($val: none) {
  -webkit-appearance: $val;
  -moz-appearance: $val;
  appearance: $val;
}

@mixin input-invalid() {
  border-color: $error !important;
  box-shadow: 0 0 0 0.2rem rgba($error, 0.25);
}

@mixin primary-button($bg, $color: #fff) {
  background-color: $bg;
  color: $color;
  border: 1px solid darken($bg, 5%);
  border-radius: $button-border-radius;
  padding: $button-padding;
  &:hover {
    background-color: darken($bg, 7%);
  }
}

@mixin secondary-button($bg, $color: #fff) {
  background-color: $bg;
  color: $color;
  border: 1px solid darken($bg, 5%);
  border-radius: $button-border-radius;
  padding: $button-padding;
  &:hover {
    background-color: darken($bg, 7%);
  }
}

@mixin tertiary-button($bg, $color: #fff) {
  background-color: transparent;
  color: $bg;
  border: 1px solid $bg;
  border-radius: $button-border-radius;
  padding: $button-padding;
  &:hover {
    background-color: $bg;
    color: $color;
  }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin clear-fix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
