// Load ArcticAdmin first (variables + mixins)
@import "arctic_admin/base";
@import "arctic_admin/variables";
@import "arctic_admin/mixins";
// If you have custom overrides or extra admin styles
// put them *after* the theme import
@import "active_admin/mixins";
// @import "active_admin/base";
// @import "active_admin/components/buttons";
// @import "active_admin/components/forms";
