<% ['alert', 'notice'].each do |type| %>
  <% if flash[type] %>
    <div class="flash-alert bg-gradient-info font-weight-bold" 
         id="flash-<%= type %>"
         data-controller="flash">
      <div class="flash-alert-content d-flex align-items-center">
        <span class="flash-alert-message text-center">
          <%= flash[type] %>
        </span>
        <button class="close-btn" data-action="click->flash#close">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
    </div>
  <% end %>
<% end %>